.app {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 1fr;
  grid-template-areas: ". sidebar content .";
  //   background-color: lightyellow;
  //   border: 3px solid #333;
  width: 1280px;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;

  .sidebar {
    display: grid;
    grid-area: sidebar;
    background-color: #dfdfdf;
  }
  .content {
    display: grid;
    grid-area: content;
    // background-color: red;
  }
}

@media (max-width: 768px) {
  .app {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "sidebar sidebar sidebar sidebar"
      "content content content content";
    //   background-color: lightyellow;
    //   border: 3px solid #333;
    width: 1280px;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;

    .sidebar {
      display: grid;
      grid-area: sidebar;
      background-color: #dfdfdf;
    }
    .content {
      display: grid;
      grid-area: content;
      // background-color: red;
    }
  }
}
